@model WorldTour.Models.Flights

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="searchBar">
@RenderPage("~/Views/Home/SearchBarPartial.cshtml")
</section>


<section style="background-color:#cff8f5; margin-top:200px;font-style:oblique">

    <h2 style="text-align:center">Offers for Holidays from Athens!!! </h2>

    <a href="@Url.Action("Offers", "Home", new { depCity = "Athens", arrCity = "London", startDate = new DateTime(2016, 12, 8), endDate = new DateTime (2016, 12, 25) } )" title="London">
        <img alt="London" src="@Url.Content("~/Content/London.jpg")" style="margin-top: 50px;border:1px solid #000000;" hspace="36" height="236" width="304"></a>

    <a href="@Url.Action("Offers", "Home", new { depCity = "Athens", arrCity = "Prague", startDate = new DateTime(2016, 11, 22), endDate = new DateTime (2016, 11, 29) } )" title="Prague">
        <img alt="Prague" src="@Url.Content("~/Content/prague.jpg")" style="margin-top: 50px;border:1px solid #000000;" hspace="36" height="236" width="304"></a>

    <a href="@Url.Action("Offers", "Home", new { depCity = "Athens", arrCity = "Rome", startDate = new DateTime(2016, 12, 10), endDate = new DateTime (2016, 12, 25) } )" title="Rome">
        <img alt="Rome" src="@Url.Content("~/Content/Rome.jpg")" style="margin-top: 50px;border:1px solid #000000;" hspace="36" height="236" width="304"></a>

    <a href="@Url.Action("Offers", "Home", new {depCity = "Athens", arrCity = "Rovaniemi", startDate = new DateTime(2016, 12, 24), endDate = new DateTime (2016, 12, 31) } )" title="Rovaniemi">
        <img alt="Rovaniemi" src="@Url.Content("~/Content/robaniemi.jpg")" style="margin-top: 20px;margin-bottom:50px;border:1px solid #000000" hspace="36" height="236" width="304"></a>

    <a href="@Url.Action("Offers", "Home", new { depCity = "Athens", arrCity = "Vienna", startDate = new DateTime(2016, 11, 28), endDate = new DateTime (2016, 12, 15) } )" title="Vienna">
        <img alt="Vienna" src="@Url.Content("~/Content/biennh.jpg")" style="margin-top: 20px;margin-bottom:50px;border:1px solid #000000" hspace="36" height="236" width="304"></a>

    <a href="@Url.Action("Offers", "Home", new { depCity = "Athens", arrCity = "Dubai", startDate = new DateTime(2016, 12, 1), endDate = new DateTime (2016, 12, 31) } )" title="Dubai">
        <img alt="Dubai" src="@Url.Content("~/Content/dubai.jpg")" style="margin-top: 20px;margin-bottom:50px;border:1px solid #000000" hspace="36" height="236" width="304"></a>
</section>

<div style="width:100%">@RenderPage("~/Views/Shared/_footer.cshtml")</div>